/*PsdoClases CSS
:hover -Funciona cuando pasa el cursor sobre el Elemento
:focus -Funciona cuando el usuario esta interactuando con el Elemento
*/
body{
	margin: 0;
	background: #ACD7F4;
	/* font-family: 'Raleway-Light', sans-serif; */
	/* font-family: 'RobotoSlab-Regular', serif; */
	font-family: 'Quicksand-medium', sans-serif;
}
main{
	display: flex;
}
.logo{
	position: absolute;
	width: 300px;
	margin: 45px 0 0 100px;
}
.logo-cetis{
	margin-top: 38px;
	position: absolute;
	width: 310px;
	right: 100px;
}
.formulario{
	position: relative;
	background: #113269;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	width: 400px;
	border-radius: 3px;
}
.formulario_instrucciones{
	font-size: 25px;
	font-weight: bold;
	color: white;
	grid-column: span 2;
}
.formulario_label{
	display: block;
	color: white;
	font-size: 20px;
	margin: 10px 0;
}
select {
  width: 100px;
  height: 28px;
  border-radius: 5px;
  outline: transparent;
  font-size: 15px;
  padding: 2px 5px;
}
select:focus{
  border: 3px solid #1793E9;
}
option{
	font-size: 18px;
}
button{
	width: 100px;
	margin: 15px auto;
	grid-column: span 2;
	background: white;
	border: transparent;
	border-radius: 5px;
	height: 30px;
	font-weight: bold;
}
.contenedor-comentarios{
	margin: auto;
	text-align: center;
	width: 400px;
	font-size: 20px;
}
.comentario-enlace{
	text-decoration: none;
	font-family: 'Quicksand-bold', sans-serif;
	color: red;
}

/*FUENTES*/
@font-face{
	font-family: 'Raleway-Light';/*font-family: 'Raleway-Light', sans-serif;*/
	src: url('../FUENTES/Raleway/static/Raleway-Light.ttf');
}

@font-face{
  	font-family: 'RobotoSlab-Regular';/*font-family: 'RobotoSlab-Regular', serif;*/
  	src: url('../FUENTES/Roboto_Slab/static/RobotoSlab-Regular.ttf');
}
@font-face {
    font-family:'Quicksand-medium';/*font-family: 'Quicksand-medium', sans-serif;*/
    src: url('../FUENTES/Quicksand/static/Quicksand-Medium.ttf');
}
@font-face {
    font-family:'Quicksand-bold';/*font-family: 'Quicksand-bold', sans-serif;*/
    src: url('../FUENTES/Quicksand/static/Quicksand-Bold.ttf');
}


/*
Media Querys
@media (min-width: 700px) { ... }
@media (min-width: 700px) and (orientation: landscape) { ... }
*/
@media (min-width: 300px) and (max-width:	480px){

main{
	display: block;
}
.formulario{
	width: 97%;
}
.logo{
	position: relative;
	margin: 0px;
	margin-top: 30px;
	width: 100%;
}
.logo-cetis{
	right: 0;
	position: relative;
	width: 100%;
}
}
@media (min-width: 700px) and (max-width: 1200px) and (orientation: landscape){
	.logo{
		margin-top: 40px;
		position: absolute;
		width: 190px;
		margin-left: 20px;
	}
	.logo-cetis{
		margin-right: 20px;
		right: 0;
		position: absolute;
		width: 200px;
	}	
}